body {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;

    box-sizing: border-box;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;

    padding: 2rem 2.5%;
}

header > h1 {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(195, 233, 255);
}

nav {
    display: flex;
    gap: 1rem;
}

nav > button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: 1.5rem;
    background-color: rgb(199, 216, 255);
}

#content.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.home-image {
    max-width: 95vw;
    filter: blur(0.15rem);
}

.home-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;

    font-family: system-ui;
    font-size: 8rem;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.5rem;

}


#content.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#content.menu > h1 {
    color: rgb(149, 220, 255);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
}


.dish-container {
    display: flex;
    gap: 15px;
    width: min(90%, 600px);
    padding: 1rem;
    border-radius: 1rem;

    background-color: rgb(54, 69, 88);
}

.dish-container > img {
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}


.text-container {
    color: white;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
}

.text-container > h2 {
    font-size: 2rem;
    font-weight: 700;
}

.text-container > h3 {
    font-size: 2rem;
    align-self: end;
}




#content.about {
    display: flex;
    gap: 2rem;
    width: min(90%, 900px);
    margin: 0 auto;
}

#content.about > img {
    width: 60%;
}

.about-us-container-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    width: 40%;
}

.about-us-container-text > h1 {
    font-size: 3rem;
}

.about-us-container-text > p {
    font-size: 1.1rem;
    white-space: pre-line;
    line-height: 1.6rem;
}